<div class="article-wrapper">
  <div class="art-text">
    <h6 class="art-head is-5"><%= @category.name %></h6>
    <h5 class="art-title">
      <%= link_to article_path(article) do %>
        <%= article.title %>
      <% end %>
    </h5>
    <p class=""><%= truncate(article.text, length: 150) %></p>
    <nav class="level">
      <div class="level-left"></div>
        <div class="level-right">
        <div class="level-item views data">
          <%= link_to article, class: 'link' do %>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <%= article.impressionist_count %>
          <% end %>
        </div>
        <div class="level-item comments data">
          <%= link_to article, class: 'link' do %>
            <span class="icon"><i class="fa fa-comment"></i></span>
            <%= article.comments.count %>
          <% end %>
        </div>
        <div class="level-item likes">
          <% if logged_in? %>
            
            <% if current_user.liked? article %>
              <%= link_to unlike_article_path(article), method: :put, class: "unlike_article link" do %>
                <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                <span class="vote_count"><%= article.get_likes.size %></span>
              <% end %>
            <% else %>
              <%= link_to like_article_path(article), method: :put, class: "like_article link" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= article.get_likes.size %></span>
              <% end %>
            <% end %>
          <% else %>
              <%= link_to like_article_path(article), method: :put, class: "like_article link" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= article.get_likes.size %></span>
              <% end %>
          <% end %>

        </div>
      </div>
    </nav>
  </div>

  <div class="cat-art-img">
    <div class="art-image">
      <%= image_tag article.image_url(:thumbnail), alt: article.title %>
    </div>
  </div>
</div>