<p id="notice"><%= notice %></p>

<div class="container is-fluid">
  <div class="notification">
    <h1>Articles</h1>
  </div>

  <div class="level">
    <div class="level-left">
      <% @articles.each do |article| %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <%= image_tag article.image.thumb.url, alt: 'Article image' %>
            </p>
          </figure>
          <nav class="level shot-analytics">
            <div class="level-left"></div>
              <div class="level-right">
              <div class="level-item views data">
                <%= link_to article do %>
                  <span class="icon"><i class="fa fa-eye"></i></span>
                  <%= article.impressionist_count %>
                <% end %>
              </div>
              <div class="level-item comments data">
                <%= link_to article do %>
                  <span class="icon"><i class="fa fa-comment"></i></span>
                  <%# <%= article.comments.count %> %>
                <% end %>
              </div>
              <div class="level-item likes">
                <% if logged_in? %>
                  
                  <% if current_user.liked? article %>
                    <%= link_to unlike_article_path(article), method: :put, class: "unlike_article" do %>
                      <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                      <span class="vote_count"><%= article.get_likes.size %></span>
                    <% end %>
                  <% else %>
                    <%= link_to like_article_path(article), method: :put, class: "like_article" do %>
                      <span class="icon"><i class="fa fa-heart"></i></span>
                      <span class="vote_count"><%= article.get_likes.size %></span>
                    <% end %>
                  <% end %>
                <% else %>
                    <%= link_to like_article_path(article), method: :put, class: "like_article" do %>
                      <span class="icon"><i class="fa fa-heart"></i></span>
                      <span class="vote_count"><%= article.get_likes.size %></span>
                    <% end %>
                <% end %>

              </div>
            </div>
          </nav>
          <div class="media-content">
            <div class="content">
              <p>
                <%= truncate(article.text, length: 50) %>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <%= link_to 'Show', article %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </nav>
          </div>
        </article>
        
          
        
      <% end %>
    </div>
  </div>
</div>

<article class="media">
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>

<%= link_to 'New Article', new_article_path %>

