<p id="notice"><%= notice %></p>

<h1 class="title is-2">Categories</h1>

<div class="level">
  <div class="level-left"></div>
  <div class="level-right">
    <%= link_to 'New Category', new_category_path, class:'button is-dark' %>
  </div>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category %></td>
      <td>
        <div class="buttons is-right">
          <%= link_to 'View category', category, class:'button' %>
          <%= link_to 'Edit category', edit_category_path(category), class:'button' %>
          <%= link_to 'Delete', category, class:'button is-danger', method: :delete, data: { confirm: "Are you sure you want to delete this category? " } %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
